[Unit]
Description=docs.agenticops.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill docs.agenticops.ru
ExecStartPre=-/usr/bin/docker rm docs.agenticops.ru
ExecStartPre=-/usr/bin/docker pull marley/docs.agenticops.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name docs.agenticops.ru   \
 -p 4006:80                        \
 marley/docs.agenticops.ru'
ExecStop=-/usr/bin/docker kill docs.agenticops.ru
ExecStop=-/usr/bin/docker rm docs.agenticops.ru

[Install]
WantedBy=multi-user.target
